body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 1478px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}


/* Start of General CSS*/

.spherical_image {
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-spacing: 5px;
    border-radius: 50px;
    height: 90px;
    width: 90px;
}


/* End of General CSS*/


/* Start of Header CSS */

.header {
    padding-top: 35px;
    width: 100%;
    height: 100vh;
    background: linear-gradient(211.79deg, #2B8BE3 6.12%, #663FB5 90.47%);
    mix-blend-mode: normal;
}

.header__menu {
    font-family: 'Roboto', sans-serif;
}

.header__logo {
    float: left;
}

.button_holder {
    text-align: center;
}

.header__main_content {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.header__main_title {
    margin: 0;
    font-size: 80px;
    font-weight: normal;
    font-style: normal;
    color: #FFFFFF;
    text-align: center;
}

.header__desc {
    font-size: 26px;
    font-weight: normal;
    font-style: normal;
    color: #FFFFFF;
    text-align: center;
}

.header__social_media {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 95%;
}

.diamond_button {
    background-color: transparent;
    background: url(./images/svg/diamond.svg) no-repeat;
    background-position: 30px 17px;
    border: #FFFFFF solid 2px;
    color: #FFFFFF;
}

.diamond_button:hover {
    background-color: white;
    color: #6B59B4;
    background-image: url(./images/svg/diamond_hovered.svg);
}

.diamond_image--smaller {
    height: 20px;
    width: 22px;
}


/* End of Header CSS */


/* Start of Intro CSS */

.intro {
    background-color: #F4F5F7;
    width: 100%;
}

.intro__content {
    padding-top: 101px;
    padding-bottom: 72px;
}

.intro_title {
    font-size: 28px;
    font-style: normal;
    color: #424753;
    position: absolute;
    text-align: center;
}

.intro_desc {
    font-style: normal;
    font-size: 16px;
    text-align: center;
    padding-top: 39px;
}


/* End of Intro CSS */


/* Start of Features CSS */

.features {
    margin-top: 72px;
    margin-bottom: 72px;
    background-color: #FFFFFF;
    width: 100%;
}

.feature__articles {
    display: flex;
}

.feature__article--three {
    width: 33%;
    margin: 0 15px;
    float: left;
}

.feature__info {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    border-bottom: 2px solid #EDEDEF;
}

.feature__desc {
    margin-top: 35px;
    font-size: 16px;
    color: #424753;
    text-align: center;
}

.feature__image {
    border-color: rgba(66, 71, 83, 0.1);
    margin-bottom: 22px;
}

.feature_count {
    font-size: 36px;
    color: #424753;
    font-style: normal;
    font-weight: normal;
    text-align: center;
}

.feature_name {
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    text-align: center;
}


/* End of Features CSS */


/* Start of Pricing Table CSS */

.pricing_table {
    padding-top: 91px;
    padding-bottom: 90px;
    background-color: #F4F5F7;
    display: flex;
}

.subscription_card {
    border-radius: 4px;
}

.subscription_card__title_holder {
    height: 53px;
}

.subscription_card--three {
    width: 33%;
    float: left;
}

.subscription_card--enhanced {
    border: 2px solid #9183C7;
}

.subscription_card--casual {
    margin-top: 23px;
    border: 2px solid #ECEFF3;
}

.subscription_card__title_holder--casual {
    background-color: #ECEFF3;
    color: rgba(66, 71, 83, 0.8);
}

.subscription_card__title_holder--enhanced {
    background-color: #9183C7;
    color: white;
}

.subscription_cards__holder {
    margin-top: 82px;
    margin-bottom: 30px;
}

.subscription_card__title {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    text-align: center;
    padding-top: 18px;
}

.subscription_card__desc {
    text-align: center;
    font-size: 16px;
    line-height: 2em;
    margin-left: auto;
    margin-right: auto;
    width: 66%;
    margin-top: 24px;
}

.subscription_card__pricing_info {
    text-align: center;
}

.subscription_card__price {
    margin-top: 20px;
}

.subscription_card__currency {
    font-size: 28px;
}

.subscription_card__value {
    font-size: 68px;
}

.subscription_card__duration {
    font-size: 13px;
    color: rgba(66, 71, 83, 0.8);
}

.subscription_line_divider {
    width: 80%;
    color: #EDEDEF;
}

.subscription_card__info {
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #424753;
}

.subscription_button {
    margin-top: 62px;
    margin-bottom: 30px;
}


/* End of Pricing Table CSS */


/* Start of Testimonials CSS */

.testimonials {
    padding-top: 88px;
    background: linear-gradient(200.09deg, #2B8BE3 6.12%, #663FB5 90.47%);
    opacity: 0.8;
}

.testimonial {
    padding-bottom: 84px;
}

.testimonial_mini_images {
    list-style-type: none;
    margin: 0;
    padding: 0 0 33px 0;
    text-align: center;
}

.testimonial_image {
    height: 76px;
    width: 76px;
    border-color: white;
    border-spacing: 5px;
    background-color: #D8D8D8;
}

.testimonial_mini_image {
    display: inline-block;
    margin-right: 11px;
    border-spacing: 4px;
    background-color: #D8D8D8;
    border-color: #FFFFFF;
    cursor: pointer;
}

.testimonial_mini_image--selected {
    height: 52px;
    width: 52px;
}

.testimonial_mini_image--not-selected {
    height: 42px;
    width: 42px;
    opacity: 0.5;
}

.testimonial_text {
    padding-top: 22px;
    text-align: center;
    font-size: 28px;
    color: white;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

.testimonial_author {
    padding-top: 26px;
    font-size: 16px;
    margin-right: auto;
    margin-left: auto;
    color: white;
    text-align: center;
}

.testimonial_divider {
    width: 5%;
}


/* End of Testimonials CSS */


/* Start of News CSS */

.news {
    margin-top: 101px;
}

.news__article {
    padding-top: 102px;
    width: 40%;
}

.news__article--left-side {
    float: left;
}

.news__article--right-side {
    float: right;
}

.news__highlights {
    padding-top: 101px;
    padding-bottom: 90px;
}

.news_highlight {
    height: 400px;
    width: 50%;
    float: left;
}

.news_highlight--light {
    background: url(/images/jpg/mountains.jpg) no-repeat;
    background-size: 100%;
}

.news_highlight--dark {
    background-color: #312F38;
}

.news_highlight__info {
    margin-left: 113px;
    margin-top: 161px;
}

.news_highlight__desc {
    color: #FFFFFF;
    width: 50%;
}

.news_highlight__label {
    position: absolute;
    font-size: 13px;
    color: #FFFFFF;
    height: 23px;
    width: 70px;
    transform: translateY(-150%);
    border-radius: 40px;
    background-color: #4888D0;
}

.news_highlight__label_name {
    margin-top: 2px;
    margin-left: 8px;
}

.news_highlight__tag {
    float: left;
    margin-top: 10px;
    margin-right: 20px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 13px;
}

.news_highlight__time {
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 13px;
}


/* End of News CSS */


/* Start of Signup CSS */

.signup {
    background-color: #F4F5F7;
}

.signup_content {
    padding-top: 101px;
    padding-bottom: 101px;
}

.signup__form {
    padding-top: 66px;
}

.input_holder {
    border: 2px solid #9183C7;
    border-radius: 4px;
    height: 58px;
    width: 25%;
    margin-right: 28px;
    display: inline-block;
    margin-bottom: 28px;
}

.text_input {
    margin-top: 15px;
    margin-left: 17px;
    border: none;
    background-color: transparent;
    font-size: 16px;
    line-height: 2em;
    color: #424753;
    opacity: 0.5;
}

.input_image {
    float: left;
    margin-top: 21px;
    margin-left: 17px;
}

.tos_checkbox {
    float: left;
}

.checkbox--medium {
    height: 18px;
    width: 18px;
}

.tos_confirmation {
    font-size: 15px;
}


/* End of Signup CSS */


/* Start of Footer CSS */

.footer {
    overflow: auto;
    background-color: #312F38;
    color: #FFFFFF;
    padding-top: 89px;
    padding-bottom: 84px;
}

.footer__content {
    width: 50%;
    float: left;
    &::after,
     ::before {
        clear: both;
    }
}


/* End of Footer CSS */

.social_media_list {
    list-style-type: none;
    padding: 0;
}

.social_media_list>li {
    cursor: pointer;
    display: inline;
    color: #FFFFFF;
    padding-right: 10px;
    padding-left: 10px;
}

.button_text {
    padding: 0;
    margin: 0;
}

.pen_image {
    background: url(/images/svg/pen.svg) no-repeat;
    background-position: center;
}

.lightning_image {
    background: url(/images/svg/lightning.svg) no-repeat;
    background-position: center;
}

.heart_image {
    background: url(/images/svg/heart.svg) no-repeat;
    background-position: center;
}

.rect_button {
    border-radius: 25px;
    height: 60px;
    width: 236px;
    font-size: 15px;
    cursor: pointer;
}

.content_title {
    font-size: 28px;
    text-align: center;
    color: #424753;
}

.purple_button {
    background-color: #6B59B4;
    border: none;
    color: white;
}

.white_button {
    border: 2px solid #6B59B4;
    background-color: white;
    color: #9183C7;
}

.white_button:hover {
    background-color: #6B59B4;
    border: none;
    color: white;
}

.purple_button:hover {
    background-color: #FFFFFF;
    border: 2px solid #6B59B4;
    color: #9183C7;
}

.navigation {
    list-style-type: none;
    padding: 0;
    float: right;
    >li {
        display: inline;
        color: #FFFFFF;
        font-size: 15px;
        line-height: 18px;
        margin-right: 20px;
        cursor: pointer;
        >a {
            text-decoration: none;
            color: inherit;
        }
    }
}

.clear {
    clear: both;
}


/* Start of Login CSS */

.login {
    height: 100vh;
    width: 100%;
    background: linear-gradient(211.79deg, #2B8BE3 6.12%, #663FB5 90.47%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login_email {
    background-color: white;
    width: 100%;
}

.login_password {
    background-color: white;
    width: 100%;
}

.login__form {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    align-content: center;
    text-align: center;
    width: 25%;
}

.login_button {
    margin: 0 auto;
}


/* End of Login CSS */
